<<<<<<< HEAD
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
=======
#root{
  width: 100%;
  /* font-family: "Montserrat", sans-serif; */
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
.px-5{
    padding: 0 5rem !important;
}
.mt-0{
    margin-top: 0 !important;
}
.d-flex{
    display: flex !important;
}
.align-items-center{
    align-items: center !important;
}
.align-items-end{
    align-items: end !important;
}
.align-items-flex-end{
    align-items: flex-end !important;
}
.flex-column{
    flex-direction: column !important;
}
.justify-content-center{
    justify-content: center !important;
}
.p-absolute{
    position: absolute !important;
}
.p-relative{
    position: relative !important;
}
.w-100{
    width: 100% !important;
}
.l0{
    left: 0 !important;
}
.t0{
    top: 0 !important;
}
.r0{
    right: 0 !important;
}
.b0{
    bottom: 0 !important;
}
>>>>>>> dev_manoj
