#root{
  width: 100%;
  /* font-family: "Montserrat", sans-serif; */
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
.px-5{
    padding: 0 5rem !important;
}
.mt-0{
    margin-top: 0 !important;
}
.d-flex{
    display: flex !important;
}
.align-items-center{
    align-items: center !important;
}
.align-items-end{
    align-items: end !important;
}
.align-items-flex-end{
    align-items: flex-end !important;
}
.flex-column{
    flex-direction: column !important;
}
.justify-content-center{
    justify-content: center !important;
}
.p-absolute{
    position: absolute !important;
}
.p-relative{
    position: relative !important;
}
.w-100{
    width: 100% !important;
}
.l0{
    left: 0 !important;
}
.t0{
    top: 0 !important;
}
.r0{
    right: 0 !important;
}
.b0{
    bottom: 0 !important;
}
